<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.mapper.QuizMapper">
	<resultMap type="Quiz" id="quizMap">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="question" property="question" />
		<result column="option1" property="option1" />
		<result column="option2" property="option2" />
		<result column="option3" property="option3" />
		<result column="answer" property="answer" />
		<result column="tag" property="tag" />
		<result column="timeStemp" property="timeStemp" />
		<result column="likes" property="likes" />
		<association property="member" column="memberId" javaType="Member">
			<id property="memberId" column="memberId" />
			<result property="nickname" column="nickname" />
		</association>

	</resultMap>

	<sql id="selectQuiz">
		SELECT id, title, question, option1, option2, option3,
		answer, tag, timeStemp, likes, memberId, nickname
		FROM quiz
	</sql>


	<select id="selectQuizById" parameterType="string" resultMap="quizMap">
		<include refid="selectQuiz" />
		WHERE id = #{id}
	</select>
	<select id="selectQuizByTag" parameterType="string" resultMap="quizMap">
		<include refid="selectQuiz" />
		WHERE tag = #{tag}
	</select>

	<!-- <select id="selectQuizesOrderByLikes" resultMap="quizMap"> <include 
		refid="selectQuiz" /> ORDER BY likes DESC </select> <insert id="createQuiz" 
		parameterType="Quiz"> INSERT INTO member (id, title, question, option1, option2, 
		option3, answer, tag, timeStamp, likes, memberId, nickname) VALUES (#{id}, 
		#{title}, #{question}, #{options}, #{tag}, #{timeStamp}, #{likes}, #{member}) 
		</insert> <update id="updateQuiz" parameterType="Quiz"> UPDATE member SET 
		title = #{title}, question = #{question}, options = #{options}, tag = #{tag}, 
		timeStamp = #{timeStamp}, likes = #{likes}, member = #{member}" WHERE id 
		= #{id} </update> <delete id="deleteQuiz" parameterType="String"> DELETE 
		FROM member WHERE memberId = #{memberId} </delete> -->

</mapper>
